{% extends "layout.html" %}

{% block content %}


<p></p>
<div class="row">
        <div class="col-md-2">
        <button onclick="window.location.href='{{ url_for('home') }}';" class="btn btn-default">
            <img src="..\static\images\graphs.png" width="30" alt="Graphs">
        </button>
        <button onclick="window.location.href='{{ url_for('data') }}';" class="btn btn-default">
            <img src="..\static\images\data.png" width="30" alt="Data">
        </button>
        <button onclick="window.location.href='{{ url_for('map') }}';" class="btn btn-default">
            <img src="..\static\images\map.png" width="30" alt="Map">
        </button>
        </div>
        <div class="col-md-10"> 
            <h2>Oakland California Crime Map</h2>
            <iframe src="https://www.google.com/maps/d/embed?mid=1cOpT8KBRz5JlQbDomYhv5N3_PxSxIxH5" width="1152" height="864"></iframe>
            <h2>Oakland California Total Crime Map</h2>
            <img class="loadMapTrigger lazyloaded" src="https://images.crimegrade.org/map/overall-total/total-crime-map-oakland-ca.webp" alt="Oakland, CA Map of All Crimes" data-ll-status="loaded">
            <img src="..\static\images\safebar.png" alt="Safe Dangerous Bar" height="60">
        </div>
        
</div>

{% endblock %}
